* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#top {
    height: 80px;
    display: block;
}

#head {
    height: 80px;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-div {
    width: 100px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 36px;
    width: 53px;
}

#nav {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#time {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: grey;

}

#firstOffer {
    position: relative;
    top: 105px;
    width: 100vw;
}

#offerOne {
    width:80%;
    margin-left:125px;
}

#hero {
    position: relative;
    top: 105px;
    width: 100vw;
}

#banner {
    width:80%;
    display: flex;
    margin-left:125px;
}

#men {
    width: 50%;
}

#women {
    width: 50%;
}

